@font-face {
   font-family: beshutafCooperative;
   src: url(/assets/fonts/BeshutafBoldBETA.otf);
}

* {
   font-family: beshutafCooperative;
}

.money .panel-body{
    font-size: 25px !important;
} 

.money .panel-body .form-control{
    font-size: 25px !important;
}

.total-cache {
    font-size: 25px !important;
}

.total-cache .form-control{
    font-size: 25px !important;
}